body{
    margin: 0;
    background: url('./fon.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contain{
    background-color: rgb(187, 228, 243);
    max-width: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 78vh;
    width: 100%;
    margin: 0 1vh;
    height: 60vh;
    padding-top: 5vh;
    background-color: rgb(187, 228, 243);
    overflow: hidden;
    
}
.mem-slider{
    max-width: 78vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
}
.images{
    display: flex;
    width: 500%;
    height: 50vh;
    grid-column-start: 1;
    grid-column-end: 3;
   
}

img{
    width: 20%;
    height: auto;
    transition: all 1s;
}
input{
    display: none;
}
.inputs{
    display: flex;
    height: 5vh;
    column-gap: 10px;
    background-color: rgb(187, 228, 243);
    justify-content: flex-end;
}
.area{
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area label{
    border-radius: 50%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: white;
    border: 0.1vh solid black;
    cursor: pointer;
    transition: all 0.5s;
}
.label{
    border-radius: 50%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: white;
}
.area:hover label{
background-color: rgb(165, 193, 235);
width: 2.5vh;
height: 2.5vh;
}
.area label:hover{
    background-color: rgb(91, 141, 215);
}

.area:active label{
    background-color: rgb(247, 9, 9);
}

.text-slides{
display: flex;
width: 500%;
}

.text{
    width: 20%;
    transition: all 1s;
}

input:checked label{
    background-color: black;
}

#r0:checked ~ .images .s0{
    margin-left: 0;
    }
    #r1:checked ~ .images .s0{
        margin-left: -20%;
    }
    #r2:checked ~ .images .s0{
        margin-left: -40%;
    }
    #r3:checked ~ .images .s0{
        margin-left: -60%;
    }
    #r4:checked ~ .images .s0{
        margin-left: -80%;
     }
    
    
    
     #r0:checked ~ .text-slides .t0{
        margin-left: 0;
    }
     #r1:checked ~ .text-slides .t0{
        margin-left: -20%;
    }
     #r2:checked ~ .text-slides .t0{
        margin-left: -40%;
    }
    #r3:checked ~ .text-slides .t0{
        margin-left: -60%;
    }
    #r4:checked ~ .text-slides .t0{
        margin-left: -80%;
    }
    #r4:checked ~ .inputs .area .l4{
background-color: black;
    }
    #r0:checked ~ .inputs .area .l0{
        background-color: black;
            }
            #r1:checked ~ .inputs .area .l1{
                background-color: black;
                    }
                    #r2:checked ~ .inputs .area .l2{
                        background-color: black;
                            }
                            #r3:checked ~ .inputs .area .l3{
                                background-color: black;
                                    }


@media (max-width: 500px) {
    .mem-slider{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35vh 5vh 5vh;
        overflow: hidden;
    }
    .images{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .text-slides{
       grid-row-start: 3;
        }
        .inputs{
            grid-row-start: 2;
            grid-row-end: 3;
            justify-content: center;
        }
        img{
            height: 50vw;
        }
}